<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css ">
    <title>Document</title>
</head>
<body>
    <h2>Nuovo Prodotto</h2>
    <form method="post" action="/prodotto/nuovo">
        <label>Codice: <input type="text" name="codice"/></label><br>
        <label>Nome: <input type="text" name="nome"/></label><br>
        <label>Categoria: <input type="text" name="categoria"/></label><br>
        <label>Anno Produzione: <input type="text" name="annoProduzione"/></label><br>
        <label>Quantità: <input type="text" name="quantita"/></label><br>
        <input type="submit" value="Aggiungi"/>
    </form>
    </body>
    </html>